button{
   background-color: blue;
    /* kenapa tidak bisa diwarnai buttonnya */
}
.b{
   color: rgb(245, 16, 16);
   font-weight: 700;
   font-size: 20pt;
}

body{
    text-align: center;
    margin: 50px;
    background-image: url("./Bumble.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
